.row{
    display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                             left left left                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.left{
    background-color: #f2ecfa;
    max-width: 45.06%;
}





/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                          Right Right Right                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.right{
    background-color: #ace957;
    max-width: 54.93%;
}