.row {
    display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                             left left start                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.left {
    background-color: #FFFFFF;
    max-width: 39.6875%;
}

#signup {
    /* padding-left: 16.79790026%; */
    /* padding-left: 128px; */

}

.lProperty {
    padding-left: 16.79790026%;
    padding-right: 19.81627297%;
    margin-top: 65.14px;
}

#login {
    display: none;
}

#loginInSignup {
    padding: 0;
    border: none;
    background: none;
}

#signupInLogin {
    padding: 0;
    border: none;
    background: none;
}

.latofont{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* /////////////         INNER HTML DESIGN START       /////////////// */
.icon_design {
    height: 28.62px;
    width: 28.14px;
    float: left;
}
.icon{
    float: left;
    
}
.title p{
    line-height: 29.35px;
    font-weight: 700;
    /* font-weight: bolder; */
    color: #5622A7;
}

.signUpForm input{
    border-style: solid;
    width: 400px;
    max-height: 54px;
    border-radius: 10px;
    border-color: #5622A7;
    font-size: 11px;
    font-weight: 100;
    padding-left: 21.8px;
    padding-top : 14px;
    padding-bottom: 14px;
    
}
.loginForm input{
    border-style: solid;
    width: 400px;
    max-height: 54px;
    border-radius: 10px;
    border-color: #5622A7;
    font-size: 11px;
    font-weight: 100;
    padding-left: 21.8px;
    padding-top : 14px;
    padding-bottom: 14px;
}
.checkBox{
    font-size: 12px;
    font-weight: 100;
}
.svgDesign {
    margin-top: 0px;
    max-width: 400px;
}
.checkBox a{
    color: #876DB5;
    font-weight: bold;
    text-decoration: none;
}
#createAccountBtn{
    width: 400px;
    background-color:  #876DB5;
    padding-top:14px;
    padding-bottom: 14px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
#loginBtnInLogInPage{
    width: 400px;
    background-color:  #876DB5;
    padding-top:14px;
    padding-bottom: 14px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}
#loginInSignup{
    color:#5622A7;
    font-weight: bold;
}
.loginFooter a{
    font-weight: bold;
    color: #876DB5;
    text-decoration: none;

}
#signupInLogin{
    font-weight: bold;
    color: #876DB5;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                             LEFT END                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/








/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                          Right Right start                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.right {
    background-color: #5622A7;
    max-width: 60.3125%;
    max-height: 100%;
}

.grid1 {
    margin-top: 95px;
    margin-left: 62.19974716%;
    height: auto;
    width: 23.8938053%;
}

.grid2 {
    margin-top: 118px;
    width: 23.8938053%;
    height: auto;
    margin-left: 20.22756005%;
}

/*////////////////////////////////////////////////////////////////
                 CAROUSEL ITEM DESIGN START
 /////////////////////////////////////////////////////////////// */

.carousel-item {
    background-color: none;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    padding-bottom: 30px;
}

.carousel-item p {
    color: whitesmoke !important;
    line-height: 16px;
    padding-bottom: 20px;


}

.carousel-item h5 {
    font-family: Lato, Helvetica, sans-serif;
}

.carousel-indicators button {
    height: 8px !important;
    width: 8px !important;
    margin-right: 14px !important;
    margin: 0px;
    border-radius: 50%;
}