.row{
    display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                             left left start                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.left{
    background-color: #f2ecfa;
    max-width: 45.06%;
}
#signup{

}
#login{
    display: none;
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                          Right Right start                                                                
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.right{
    background-color: #ace957;
    max-width: 54.93%;
}